  {% load static %}
  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Python Pro</title>

    <meta name="description" content="Página de projeto do curso Python Pro no Modulo Django">
    <meta name="author" content="Bruno Jatobá">
	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'base:home' %}">Python Pro</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
      </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">

		  </ul>
	  </div>
  </nav>

    <div class="container-fluid">
	    <div class="row">
		    <div class="col-md-12">

			    <div class="jumbotron">
				    <h2>
					    Curso de Python com Luciano Ramalho
				    </h2>
				    <p>
					    Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro
					    <a href="https://www.oreilly.com/library/view/fluent-python/9781491946237/" target="_blank">Python Fluente</a>.
				    </p>

			    </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<h5 class="card-header">
						Mais detalhes sobre o instrutor
					</h5>
					<div class="card-body">
						<p class="card-text">
							<img src="{% static 'img/luciano_ramalho.jpg' %}" alt="Foto de Luciano Ramalho" class="img-thumbnail float-left mr-3"/>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing."
							"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


    </body>
    </html>